:root{
    --color-white: #ffffff;
    --color-light: #f0eff5;
    --color-gray-light: #86848c;
    --color-gray-dark: #56555e;
    --color-dark: #27282f;
    --color-primary: rgb(71, 7, 234);
    --color-success: rgb(34, 202, 75);
    --color-danger: rgb(255, 67, 54);
    --color-warning: rgb(234, 181, 7);
    --color-purple: rgb(160, 99, 245);
    
    --color-primary-light: rgba(71, 7, 234, 0.2);
    --color-success-light: rgba(34, 202, 75, 0.2);
    --color-danger-light: rgba(255, 67, 54, 0.2);
    --color-purple-light: rgba(160, 99, 245, 0.2);
    
    --card-padding: 1.6rem;
    --padding-1: 1rem;
    --padding-2: 8px;
    
    --card-border-radius: 1.6rem;
    --border-radius-1: 1rem;
    --border-radius-2: 6px;
    }
      /* <!-- aside --> */
      main{
        display: grid;
        grid-template-columns: 16rem auto 30rem;
        gap: 2rem;
        width: 96%;
        margin: 1rem auto 4rem;
    }
    main aside{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 88vh;
        border:2px solid rgb(133, 21, 21);
    }
   
    main aside .sidebar a{
        display: flex;
        align-items: center;
        gap: 1.2rem;
        height: 4.2rem;
        color: var(--color-gray-light);
        position: relative;
    }
    main aside .sidebar a span{
        font-size: 1.7rem;
        margin-left: 3rem;
        transition: all 0.3s;
    }
    main aside .sidebar a.active{
        background: var(--color-white);
        color: var(--color-primary);
    }
    main aside .sidebar a.active::before{
        content: '';
        width: 6px;
        height: 100%;
        position: absolute;
        background: var(--color-primary);
    }
    main aside .sidebar a:hover{
        color: var(--color-primary);
    }
    main aside .sidebar a:hover span{
        margin-left: 2rem;
    }
    main aside .sidebar h4{
        font-weight: 500;
    }
    
    main aside .updates{
        background: var(--color-white);
        border-radius: var(--border-radius-1);
        text-align: center;
        padding: var(--card-padding);
    }
    main aside .updates span{
        font-style: 2.8rem;
    }
    main aside .updates h4{
        margin: 1rem 0;
    }
    main aside .updates a{
        display: block;
        width: 100%;
        background: var(--color-primary);
        color: var(--color-white);
        border-radius: var(--border-radius-1);
        padding: 0.8rem 0;
        margin-top: 2rem;
        transition: all 0.3s ease;
    
    }
    main aside .updates a:hover{
        box-shadow: 0 1rem 2rem var(--color-primary-light);
    }
    